html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

.page {
  min-height: calc(100% - 143px);
  background-color: #171717;
  color: #fff;
}

.page-body {
  width: 100%;
  padding: 0 150px;
  margin: 0 auto;
}

@media (min-width: 1900px) {
  .page-body {
    width: 1900px;
  }
}

@media (max-width: 750px) {
  .page-body {
    padding: 0 50px;
  }
}
