.header {
  background-color: #202020;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 150px;
  & h1 {
    font-weight: normal;
    margin: 0;
  }
  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  & ul li {
    display: inline;
    font-size: 22px;
  }
}

.header_link {
  margin: 0 20px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: 250ms color linear;
  &:hover {
    color: #3ea2ff;
  }
  &:last-child {
    margin-right: 0;
  }
}
