.projects-page-body {
  margin: 0 auto;
  width: 1000px;
  padding: 50px 0;
}

.title-container {
  & h1 {
    font-weight: 500;
    font-size: 26px;
  }
}

.projects-content {
  > * {
    margin: 20px 0;
  }
}

.project-listing-body {
  width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
}
