.projects-page-body {
  margin: 0 auto;
  width: 1000px;
  padding: 50px 0;
  @media (max-width: 1250px) {
    width: 90%;
    padding: 50px 100px;
  }
  @media (max-width: 750px) {
    width: 100%;
    padding: 50px;
  }
}

.title-container {
  & h1 {
    font-weight: 500;
    font-size: 26px;
  }
}

.projects-content {
  > * {
    margin: 10px 0;
  }
}

.project-listing-body {
  width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
}

.project-listing-title-container {
  background-color: #202020;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 32px 48px;
  & h1 {
    font-weight: 500;
    font-size: 26px;
  }
}

.project-listing-contents {
  border-bottom: 1px solid rgba(78, 78, 78, 0.349);
  border-top: 1px solid rgba(78, 78, 78, 0.349);
  background-color: #202020;
  padding: 32px 48px;
  & h3 {
    margin: 20px 0;
  }
}

.project-listing-footer {
  display: flex;
  justify-content: flex-end;
  background-color: #202020;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 18px 48px;
}
